<a href="https://colab.research.google.com/github/unt-iialab/INFO5731_Spring2020/blob/master/In_class_exercise/In_class_exercise_01.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **The first In-class-exercise (9/2/2020, 20 points in total)**

(1) Write a Python program to calculate the length of a string. (2 points)

In [ ]:
str = input("Enter a string: ")
counter = 0
for s in str:
      counter = counter+1
print("Length of the given string is:", counter)

Enter a string: sudheendramayda
Length of the given string is: 15

(2) Write a Python program to count the number of characters in a string. (2 points)

Sample String : 'google.com‘, 

Expected Result : {'o': 3, 'g': 2, '.': 1, 'e': 1, 'l': 1, 'm': 1, 'c': 1}

In [ ]:
str1 = input(" Enter a String : ")
total = 0
 
for i in str1:
    total = total + 1
 
print("Total Number of Characters in the String = ", total)

 Enter a String : 'google.com'
Total Number of Characters in the String =  12

(3) Write a Python program to sum all the items in a list. (2 points)

In [ ]:
total = 0
 
list1 = [10, 20, 30, 40, 50] 
 
for ele in range(0, len(list1)):
    total = total + list1[ele]
 
print("Sum of all items in given list: ", total)

Sum of all items in given list:  150

(4) Write a Python program to get a string from a given string where all occurrences of its first char have been changed to '\$', except the first char itself. (2 points)

Sample String : 'restart‘, 

Expected Result : 'resta\$t'

In [ ]:
def change_char(str1):
  char = str1[0]
  str1 = str1.replace(char, '$')
  str1 = char + str1[1:]

  return str1

print(change_char('restart'))

resta$t

(5) Write a program with python which could accept two parameter a and b to calculate and output the result of S, where 

$\ S=3.14*(1+a/b)^3$ (3 points)

In [1]:
a = int(input("Enter  'a' value: "))
b = int(input("Enter  'b' value: "))

s = 3.14*(1+a/b)**3

print(s)

Enter  'a' value: 1
Enter  'b' value: 4
6.1328125

(6) Write a Python program to concatenate following dictionaries to create a new one. (3 points)

Sample Dictionary : dic1={1:10, 2:20}, dic2={3:30, 4:40}, dic3={5:50,6:60}, 

Expected Result : {1: 10, 2: 20, 3: 30, 4: 40, 5: 50, 6: 60}

In [ ]:
dic1={1:10, 2:20}
dic2={3:30, 4:40}
dic3={5:50,6:60}
dic4 = {}
for d in (dic1, dic2, dic3): dic4.update(d)
print(dic4)

{1: 10, 2: 20, 3: 30, 4: 40, 5: 50, 6: 60}

(7) Write a Python program to check whether an element exists within a tuple. (3 points)

In [ ]:
tuplex = ("I", 2, "N", "F", "o", 5, 7, 3, 1)
print("I" in tuplex)
print(5 in tuplex)
print("w" in tuplex)

True
True
False

(8) Write a Python program to find maximum and the minimum value in a set. (3 points)

In [ ]:
setx = set([500, 100, 300, 150, 200, 2000])
print(max(setx))
print(min(setx))

2000
100

(9) Write a Python program to randomly divide the students in this class into five groups for term projects, each group should have at least 3 students but no more than 5 students (including 5). Here is the students list: (3 points for extra)

studnet_list = ['vmb0067','pc0353','snd0097','yye0005','sg0940','bk0301','rak0120','rrk0058','spk0057','vl0135','nm0547','pn0159',
                'msp0174','dd0420','ds0761','rs0850','ss1995','at0739','at0768','mv0299','tv0119','dy0091']

In [3]:

from itertools import islice
from random import randint
studnet_list = ['vmb0067','pc0353','snd0097','yye0005','sg0940','bk0301','rak0120','rrk0058','spk0057','vl0135','nm0547','pn0159', 'msp0174','dd0420','ds0761','rs0850','ss1995','at0739','at0768','mv0299','tv0119','dy0091']
def random_list(studnet_list, mingroup=3, maxgroup=5):
    iter_ = iter(studnet_list)
    while True:
        next = list(islice(iter_,randint(mingroup,maxgroup)))
        if next:
            yield next
        else:
            break
list(random_list(studnet_list))

[['vmb0067', 'pc0353', 'snd0097'],
 ['yye0005', 'sg0940', 'bk0301', 'rak0120'],
 ['rrk0058', 'spk0057', 'vl0135', 'nm0547', 'pn0159'],
 ['msp0174', 'dd0420', 'ds0761'],
 ['rs0850', 'ss1995', 'at0739', 'at0768'],
 ['mv0299', 'tv0119', 'dy0091']]